<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.highside-moto.com/wp-content/uploads/2021/01/Yamaha-mt-07-2021-1050x660.jpg);">
  <div class="container">

    <h1>LOCABIKE</h1>
    <p>Louez la moto de vos rêves</p>
    <a class="btn btn-flat" href="#">Trouver la moto de vos rêves</a>
  </div>
</div>

