<section class="py-5">
  <div class="container text-center">
    <h2 class="mb-3">Résultats de la recherche</h2>
    <div class="row mb-3">
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">1</small> Move Data</h4>
        <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
      </div>
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">2</small> Integrate Software</h4>
        <p>We want to make sure that you can keep using the software that you use to manage your business.</p>
      </div>
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">3</small> Ongoing Support</h4>
        <p>As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for&nbsp;you.</p>
      </div>
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">1</small> Move Data</h4>
        <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
      </div>
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">1</small> Move Data</h4>
        <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
      </div>
      <div class="col-md-4 p-2 py-3">
        <img class="img-fluid mx-auto my-4" src="placeholder/pictures/bg_16-9.svg?primary=007bff" alt="">
        <h4 class="my-4"><small class="rounded-circle px-3 py-2 mr-2 bg-primary">1</small> Move Data</h4>
        <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
      </div>
</section>
