<footer class="pt-4 pb-3 bg-white">
  <div class="container text-center text-lg-left">
    <div class="row d-flex justify-content-center justify-content-lg-between">
      <div class="col-10 col-sm-5 col-lg-4 my-2 my-lg-0">
        <h6>&Agrave; propos de LocaBike</h6>
        <ul class="list-inline ml-0">
          <li class="py-1"><a href="#">Notre équipe</a></li>
          <li class="py-1"><a href="#">Rejoignez-nous</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-4 my-2 my-lg-0">
        <h6>Contact</h6>
        <ul class="list-inline ml-0">
          <li class="py-1"><a href="#">contact@locabike.com</a></li>
          <li class="py-1"><a href="#">04 00 00 00 00</a></li>
        </ul>
      </div>
      <div class="d-flex flex-column col-10 col-sm-10 col-lg-4 my-2 my-lg-0">
        <h6>Abonnez-vous à notre newsletter.</h6>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="E-mail" aria-label="E-mail" aria-describedby="label-footer-01">
          <div class="input-group-append d-block">
            <button class="btn btn-primary" id="label-footer-01">Souscrire</button>
          </div>
        </div>
      </div>
      <div class="w-100 border-top my-3"></div>
    </div>
    <div>
      <p class="mb-0 small text-muted">&copy; 2021 LocaBike | Tous droits réservés.</p>
    </div>
  </div>
</footer>


