<div class="row">
  <div class="col-12 col-md-6 col-lg-5">
    <%= form_tag bike_ads_path, method: :get do %>
    <%= text_field_tag :query,
    # params[:query],
    '',
    class: "form-control mb-2",
    placeholder: "Marque, modèle ou catégorie"
    %>
    <%= text_field_tag :city,
    # params[:city],
    '',
    class: "form-control mb-2 input_address",
    placeholder: "Lieu"
    %>
    <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>