// Define variables for your color scheme

// For example:
$red: #DB324D;
$blue: #167FFB;
$yellow: #f0a500;
$orange: #cf7500;
$green: #1EDD88;
$gray: #0E0000;
$muted: #6c757d;
$light-gray-border: #dee2e6;
$light-gray: #F5F3F5;
$night-blue: #07689f;
$white: #ffffff;
