<section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 my-auto">
              <h1 class="display-4 mb-3">Locabike</h1>
              <p class="lead text-muted mb-4">Louez la moto de vos rêves</p>
              <div class="row">
                <div class="col-md-11 col-lg-7 mb-4 mb-md-0">
                  <label class="sr-only" for="input1-headers-16">Moto recherchée</label>
                  <input class="form-control my-2" id="input1-headers-16" type="text" placeholder="Ma moto">
                  <label class="sr-only" for="input2-headers-16">Dates</label>
                  <input class="form-control my-2" id="input2-headers-16" type="dates" placeholder="Dates">

                  <div class="form-group mt-2">
                    <div class="form-check">
                      <input class="form-check-input" id="input4-headers-16" type="checkbox" required="required">

                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div>
                  <button class="btn btn-primary my-2">Rechercher les motos disponibles</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-auto"><img class="img-fluid" src="" alt=""></div>
          </div>
        </div>
      </section>

