<section>
  <div class="home-header">
    <%= render 'components/banner' %>
  </div>

  <div class="container my-5">
    <h2 class="mt-0 mb-3" >Près de chez vous</h2>
    <%= render 'components/bike_card', locals: { bike_ads: @bike_ads} %>
  </div>
</section>
