<section>

  <%= render 'components/banner' %>

  <div class="container py-5">
    <h2 class="mt-0 mb-3" >Près de chez vous</h2>
    <%= render 'components/bike_card', locals: { bike_ads: @bike_ads} %>
  </div>

  <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
--
  <button id="sweet-alert-refuse" class="btn btn-primary">Click me!</button>


</section>
