<div class="mb-5">
  <h1 class="my-0">Trouvez votre prochaine moto</h1>
  <p>+ de <%= @bike_ads.count %> à louer sur toute la France</p>
</div>

<%= render 'components/bike_card', locals: { bike_ads: @bike_ads } %>
